/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2018, 6:40:02 PM
    Author     : Kuba
*/
.slider-container .slider .next, .slider-container .slider .previous {
  height: 70px;
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background: black;
  padding: 3px 5px 0 5px;
  color: #fca599;
  top: 215px;
  cursor: pointer;
  opacity: 0; }
  .slider-container .slider .next:hover, .slider-container .slider .previous:hover {
    border: 1px solid #fca599; }

.container, .container-projects, .container-projects .project .overlay, .container-projects .project img, .outro {
  margin-left: auto;
  margin-right: auto; }

.container .intro3, .container-projects, .outro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

* {
  padding: 0;
  margin: 0;
  border-box: box-sizing; }

body {
  font-family: 'Playfair Display', serif;
  color: #fff;
  background: url("../media/bgbw.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

nav {
  width: 100%;
  position: fixed;
  height: 60px;
  letter-spacing: 2px;
  background: black;
  text-align: right;
  z-index: 10; }
  nav .toggle {
    display: none;
    font-size: 40px;
    padding: 5px 5px 0 0; }
    nav .toggle .menu {
      cursor: pointer; }
  nav ul {
    padding-right: 20px;
    font-size: 20px;
    transition: display .3s linear; }
    nav ul li {
      list-style: none;
      display: inline-block;
      padding: 30px 10px 0; }
      nav ul li span {
        color: #fca599; }
      nav ul li a {
        text-decoration: none;
        color: white;
        padding-left: 2px; }
        nav ul li a:hover {
          margin-left: -3px;
          border-left: 3px solid white; }
        nav ul li a:active {
          color: white; }

@keyframes slide {
  0% {
    height: 0; }
  50% {
    height: 125%; }
  100% {
    height: 250%; } }
@media (max-width: 768px) {
  nav .toggle {
    display: block; }
    nav .toggle #nomenuicon {
      display: none; }
  nav ul {
    animation: slide 0.05s linear;
    height: 0;
    background: #232323;
    display: none;
    opacity: 0;
    width: 40%;
    background: black;
    margin-left: auto;
    margin-right: 0;
    -webkit-border-radius: 0 0 0 50px;
    -moz-border-radius: 0 0 0 50px;
    -ms-border-radius: 0 0 0 50px;
    border-radius: 0 0 0 50px; }
    nav ul li {
      display: block;
      padding: 5px 0; }

  .active {
    display: block;
    height: 250%;
    opacity: 0.9; }

  .noactive {
    display: none; } }
.container {
  padding: 70px 50px 0 50px;
  background: rgba(0, 0, 0, 0.7);
  width: 80%;
  min-height: 450px; }
  .container .heading {
    width: 100%; }
    .container .heading h1 {
      padding-top: 20px;
      text-align: center;
      letter-spacing: 3px;
      padding-bottom: 10px; }
      .container .heading h1 span {
        color: #fca599;
        text-decoration: line-through; }
  .container .intro1 {
    width: 100%;
    padding-top: 40px;
    text-align: justify; }
  .container .intro2 {
    width: 100%;
    text-align: center; }
    .container .intro2 ul {
      list-style: none;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 50px; }
      .container .intro2 ul li:nth-child(odd) {
        color: #fca599; }
      .container .intro2 ul li a {
        text-decoration: none;
        color: white; }
        .container .intro2 ul li a:hover {
          opacity: 0.8; }
  .container .intro3 {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    padding-top: 40px;
    padding-bottom: 40px; }
    .container .intro3 .wedo {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
      .container .intro3 .wedo ul {
        list-style: none; }
        .container .intro3 .wedo ul li span {
          color: #fca599;
          font-size: 1.2em; }
    .container .intro3 .quotes {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .container .intro3 .quotes h2 {
        text-align: center;
        color: #fca599; }
      .container .intro3 .quotes h4 {
        text-align: right;
        padding-right: 3%;
        padding-top: 5px;
        color: white; }

@media (max-width: 768px) {
  .container {
    padding: 70px 0 0 0;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 20px; }
    .container .intro1 {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .container .intro2 {
      width: 100%; }
      .container .intro2 ul {
        padding-top: 40px; }
    .container .intro3 {
      display: block;
      padding-top: 0; }
      .container .intro3 .wedo {
        padding-bottom: 30px; }
      .container .intro3 .quotes {
        width: 70%;
        margin-left: auto;
        margin-right: auto; } }
.slider-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 0 5%;
  margin: 50px 0;
  padding-top: 20px;
  padding-bottom: 20px; }
  .slider-container .slider {
    background: url("https://www.nysid.edu/image/home-slideshow/BFA15_Thomas.jpg") center;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }
    .slider-container .slider .next {
      right: 5px; }
    .slider-container .slider .previous {
      left: 5px; }
    .slider-container .slider .pause {
      position: absolute;
      bottom: 5px;
      left: 50%;
      opacity: 0; }
      .slider-container .slider .pause img {
        width: 60px;
        height: auto;
        margin-left: -30px;
        background: black;
        -webkit-border-radius: 15%;
        -moz-border-radius: 15%;
        -ms-border-radius: 15%;
        border-radius: 15%;
        cursor: pointer; }
        .slider-container .slider .pause img:hover {
          border: 1px solid #fca599; }
    .slider-container .slider:hover .next, .slider-container .slider:hover .previous, .slider-container .slider:hover .pause {
      opacity: 1; }

.hide {
  opacity: 0;
  height: 0; }

.heading-projects {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #fca599; }
  .heading-projects h1 {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 30%;
    margin-right: 30%; }

.container-projects {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 90%;
  margin-bottom: 70px;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px; }
  .container-projects .heading {
    width: 100%;
    text-align: center;
    margin: 2% 0;
    color: #fca599; }
    .container-projects .heading button {
      border: 3px solid #fca599;
      background: black;
      color: white;
      -webkit-border-radius: 15%;
      -moz-border-radius: 15%;
      -ms-border-radius: 15%;
      border-radius: 15%;
      padding: 5px 15px;
      cursor: pointer; }
      .container-projects .heading button:hover {
        text-decoration: underline;
        opacity: 0.8; }
  .container-projects .project {
    width: 25%;
    text-align: center;
    margin-bottom: 1%;
    position: relative;
    -moz-transition: opacity 1s 0.1s;
    -o-transition: opacity 1s 0.1s;
    -webkit-transition: opacity 1s 0.1s;
    transition: opacity 1s 0.1s; }
    .container-projects .project:nth-child(8) {
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s; }
    .container-projects .project:nth-child(9) {
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .container-projects .project:nth-child(10) {
      -moz-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    .container-projects .project:nth-child(11) {
      -moz-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    .container-projects .project:nth-child(12) {
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s; }
    .container-projects .project:nth-child(13) {
      -moz-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s; }
    .container-projects .project .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 70%;
      opacity: 0;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      background: rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .container-projects .project .overlay:hover {
        opacity: 1;
        cursor: pointer;
        transform: rotateZ(360deg); }
    .container-projects .project .text {
      color: #fca599;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
    .container-projects .project img {
      display: block;
      width: 70%;
      height: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer; }
      .container-projects .project img:hover .overlay {
        z-index: 5;
        opacity: 0.6; }

@media (max-width: 768px) {
  .heading-projects h1 {
    margin: 0 10%; }

  .container-projects .project {
    width: 50%; } }
.outro {
  width: 90%;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 70px;
  padding-top: 20px; }
  .outro .contact {
    width: 65%; }
    .outro .contact h1 {
      padding-bottom: 15px;
      font-size: 1.2em; }
      .outro .contact h1 .us {
        color: #fca599; }
    .outro .contact form input, .outro .contact form textarea {
      display: block;
      width: 60%;
      margin: 10px auto;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      border: 0;
      font-family: 'Alegreya', serif;
      text-align: center;
      height: 30px; }
      .outro .contact form input:focus, .outro .contact form textarea:focus {
        border: 2px solid #fca599;
        outline-width: 0; }
    .outro .contact form textarea {
      height: auto !important; }
    .outro .contact form #submit {
      width: 30%;
      cursor: pointer;
      background: #fca599;
      height: 35px;
      margin-top: 20px;
      font-size: 1.2em; }
  .outro .top-interior {
    width: 23%;
    padding-left: 10px; }
    .outro .top-interior .us {
      color: #fca599; }
    .outro .top-interior img {
      width: 80%;
      padding: 10px 0; }
  .outro .social {
    width: 12%;
    padding-right: 10px; }
    .outro .social h1 {
      padding-bottom: 10px;
      font-size: 1.2em; }
      .outro .social h1 .us {
        color: #fca599; }
    .outro .social a {
      text-decoration: none;
      color: #fca599;
      width: 50%; }
      .outro .social a:hover {
        opacity: 0.7; }

@media (max-width: 768px) {
  .outro {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }
    .outro .contact {
      width: 100%;
      order: 3;
      margin-top: 30px; }
    .outro .social {
      width: 20%;
      order: 2; }
    .outro .top-interior {
      width: 40%;
      order: 1; } }
@media (max-width: 400px) {
  .outro {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .outro .contact {
      width: auto;
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2;
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3; }
      .outro .contact form input, .outro .contact form textarea {
        width: 90%; }
      .outro .contact form #submit {
        width: 60%; }
    .outro .social {
      width: auto;
      -webkit-box-flex: 1 auto;
      -moz-box-flex: 1 auto;
      -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
      flex: 1 auto;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      margin-bottom: 30px; }
    .outro .top-interior {
      width: auto;
      -webkit-box-flex: 1 auto;
      -moz-box-flex: 1 auto;
      -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
      flex: 1 auto;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
      margin-bottom: 30px; } }
footer {
  width: 100%;
  background: black;
  text-align: center;
  font-size: 0.6em; }
  footer a {
    text-decoration: none;
    color: #fca599; }
    footer a:hover {
      opacity: 0.7; }

/*# sourceMappingURL=style.css.map */
