/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2018, 6:40:02 PM
    Author     : Kuba
*/

$col3: #fca599;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

%sliderChanger{
    height: 70px;
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    @include border-radius(15px);
    background: black;
    padding: 3px 5px 0 5px;
    color: $col3;
    top: 215px;
    cursor: pointer;
    opacity: 0;

    &:hover{
        border: 1px solid $col3;
    }
}

%center{
    margin-left: auto;
    margin-right: auto;
}

%flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -moz-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

@mixin justify($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

*{
    padding: 0;
    margin: 0;
    border-box: box-sizing;
}

body{
    // font-family: 'Alegreya', serif;
    font-family: 'Playfair Display', serif;
    color: #fff;
    background: url('../media/bgbw.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//NAVBAR

nav{
    width: 100%;
    position: fixed;
    height: 60px;
    letter-spacing: 2px;
    background: black;
    text-align: right;
    z-index: 10;

    .toggle{
        display: none;
        font-size: 40px;
        padding: 5px 5px 0 0;

        .menu{
            cursor: pointer;
        }
    }

    ul{
        padding-right: 20px;
        font-size: 20px;
        transition: display .3s linear;

        li{
            list-style: none;
            display: inline-block;
            padding: 30px 10px 0 ;

            span{
                color: $col3;
            }

            a{
                text-decoration: none;
                color: white;
                padding-left: 2px;

                &:hover{
                    margin-left: -3px;
                    border-left: 3px solid white;
                }

                &:active{
                    color: white;
                }
            }
        }
    }
}


@keyframes slide{
    0% {height: 0}
    50% {height: 125%}
    100% {height: 250%}
}


@media (max-width: 768px){
    nav{
        .toggle{
            display: block;

            #nomenuicon{
                display: none;
            }
        }

        ul{
            animation: slide 0.05s linear;
            height: 0;
            background: #232323;
            display: none;
            opacity: 0;
            width: 40%;
            background: black;
            margin-left:auto; 
            margin-right:0;
            @include border-radius(0 0 0 50px);

            li{
                display: block;
                padding: 5px 0;
            }

        }

    }

    .active {
        display: block;
        height: 250%;
        opacity: 0.9;
    }

    .noactive{
        display: none;
    }
}

// FIRST CONTAINER

.container{
    padding: 70px 50px 0 50px;
    background: rgba(0, 0, 0, 0.7);
    width: 80%;
    @extend %center;
    min-height: 450px;

    .heading{
        width: 100%;

        h1{
            padding-top: 20px;
            text-align: center;
            letter-spacing: 3px;
            padding-bottom: 10px;

            span{
                color: $col3;
                text-decoration: line-through;
            }
        }
    }

    .intro1{
        width: 100%;
        padding-top: 40px;
        text-align: justify;       
    }

    .intro2{
        width: 100%; 
        text-align: center;

        ul{
            list-style: none;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 50px;

            li{
                &:nth-child(odd){
                    color: $col3;
                }

                a{
                    text-decoration: none;
                    color: white;

                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }  
    }
    .intro3{
        @extend %flexbox;
        @include justify(space-around);
        padding-top: 40px;
        padding-bottom: 40px;;

        .wedo{
            @include flex(1);
            text-align: center;

            ul{
                list-style: none;
                li{
                    span{
                        color: $col3;
                        font-size: 1.2em;
                    }
                }

            }
        }

        .quotes{
            @include flex(1);

            h2{
                text-align: center;
                color: $col3;
            }
            h4{
                text-align: right;
                padding-right: 3%;
                padding-top: 5px;
                color: white
            }
        }
    }
}


@media (max-width: 768px){
    .container{
        padding: 70px 0 0 0;
        margin: 0 auto;
        width: 95%;
        padding-bottom: 20px;

        .intro1{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .intro2{
            width: 100%;

            ul{
                padding-top: 40px;
            }
        }

        .intro3{
            display: block;
            padding-top: 0;

            .wedo{
                padding-bottom: 30px;
            }

            .quotes{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

//SLIDER
.slider-container{
    background: rgba(0,0,0,0.7);
    padding: 0 5%;
    margin: 50px 0;
    padding-top: 20px;
    padding-bottom: 20px;

    .slider{
        background: url('https://www.nysid.edu/image/home-slideshow/BFA15_Thomas.jpg') center;
        width:100%;
        height:500px;
        background-repeat:no-repeat;
        background-size:cover;
        position: relative;
        //border-top: 25px solid rgba(0, 0 ,0, 0.7);
        // border-bottom: 25px solid rgba(0, 0 ,0, 0.7);
        z-index: 2;
        @include transition(background 0.5s);//czy nie zmienić na coś innego?

        .next{
            @extend %sliderChanger;
            right: 5px;
        }

        .previous{
            @extend %sliderChanger;
            left: 5px;
        }

        .pause{
            position: absolute;
            bottom: 5px;
            left: 50%;
            opacity: 0;

            img{
                width: 60px;
                height: auto;
                margin-left: -30px;
                background: black;
                @include border-radius(15%);
                cursor: pointer;

                &:hover{
                    border: 1px solid $col3;
                }
            }
        }

        &:hover{
            .next, .previous, .pause{
                opacity: 1;
            }
        }
    }
}

//projects-container

.hide{
    //display: none;
    opacity: 0;
    height: 0;
}
.heading-projects{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: $col3;

    h1{
        background: rgba(0, 0, 0, 0.7);
        margin-left: 30%;
        margin-right: 30%;
    }
}

.container-projects{
    @extend %flexbox;
    @include flex-flow(row wrap);
    @include justify(space-around);
    width: 90%;
    @extend %center;
    margin-bottom: 70px;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;

    .heading{
        width: 100%;
        text-align: center;
        margin: 2% 0;
        color: $col3;
        button{
            border: 3px solid $col3;
            background: black;
            color: white;
            @include border-radius(15%);
            padding: 5px 15px;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
                opacity: 0.8;
            }
        }
    }

    .project{
        width: 25%;
        text-align: center;
        margin-bottom: 1%;
        position: relative;
        @include transition(opacity 1s 0.1s);

        &:nth-child(8) {@include transition-delay(0.1s); }
        &:nth-child(9) { @include transition-delay(0.2s); }
        &:nth-child(10) { @include transition-delay(0.3s); }
        &:nth-child(11) { @include transition-delay(0.4s); }
        &:nth-child(12) { @include transition-delay(0.5s); }
        &:nth-child(13) { @include transition-delay(0.6s); }

        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            width: 70%;
            opacity: 0;
            @include transition(.5s ease);
            background: rgba(0, 0, 0, 0.5);
            @include border-radius(50%);
            @extend %center;

            &:hover{
                opacity: 1;
                cursor: pointer;
                transform: rotateZ(360deg);
            }
        }
        .text{
            color: $col3;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        img{
            display: block;
            width: 70%;
            height: auto;
            @extend %center;
            @include border-radius(50%);
            cursor: pointer;

            &:hover{
                .overlay {
                    z-index: 5;
                    opacity: 0.6;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .heading-projects{
        h1{
            margin: 0 10%;
        }
    }
    .container-projects{
        .project{
            width: 50%;
        }
    }
}

//outro

.outro{
    width: 90%;
    @extend %flexbox;
    @include justify(space-around);
    background: rgba(0,0,0,0.7);
    @extend %center;
    text-align: center;
    margin-bottom: 70px;
    padding-top: 20px;

    .contact{
        width: 65%;

        h1{
            padding-bottom: 15px;
            font-size: 1.2em;

            .us{
                color: $col3;  
            }
        }

        form{

            input, textarea{
                display: block;
                width: 60%;
                margin: 10px auto;
                @include border-radius(10px);
                border: 0;
                font-family: 'Alegreya', serif;
                text-align: center;
                height: 30px;

                &:focus{
                    border: 2px solid $col3;
                    outline-width: 0;
                }
            }

            textarea{
                height: auto !important;
            }

            #submit{
                width: 30%;
                cursor: pointer;
                background: $col3;
                height: 35px;
                margin-top: 20px;
                font-size: 1.2em;
            }
        }
    }

    .top-interior{
        width: 23%;
        padding-left: 10px;

        .us{
            color: $col3;  
        }

        img{
            width: 80%;
            padding: 10px 0;
        }

    }

    .social{
        width: 12%;
        padding-right: 10px;


        h1{
            padding-bottom: 10px;
            font-size: 1.2em;

            .us{
                color: $col3;  
            }
        }

        a{
            text-decoration: none;
            color: $col3;
            width: 50%;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}

@media (max-width: 768px){

    .outro{
        @include flex-flow(row wrap);
        @include justify(space-around);

        .contact{
            width: 100%;
            order: 3;
            margin-top: 30px;
        }

        .social{
            width: 20%;
            order: 2;
        }

        .top-interior{
            width: 40%;
            order: 1;
        }
    }
}

@media (max-width: 400px){

    .outro{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        .contact{
            width: auto;
            @include flex(2);
            @include order(3);

            form{

                input, textarea{
                    width: 90%;
                }

                #submit{
                    width: 60%;
                }
            }
        }

        .social{
            width: auto;
            @include flex(1 auto);
            @include order(2);
            margin-bottom: 30px;
        }

        .top-interior{
            width: auto;
            @include flex(1 auto);
            @include order(1);
            margin-bottom: 30px;
        }
    }
}

//footer

footer{
    width: 100%;
    background: black;
    text-align: center;
    font-size: 0.6em;
    a{
        text-decoration: none;
        color: $col3;
        &:hover{
            opacity: 0.7;
        }
    }
}